<h1>New game</h1>

<div class="grid">
  <div class="col"><%= @letters[0] %></div>
  <div class="col"><%= @letters[1] %></div>
  <div class="col"><%= @letters[2] %></div>
  <div class="col"><%= @letters[3] %></div>
  <div class="col"><%= @letters[4] %></div>
  <div class="col"><%= @letters[5] %></div>
  <div class="col"><%= @letters[6] %></div>
  <div class="col"><%= @letters[7] %></div>
  <div class="col"><%= @letters[8] %></div>
  <div class="col"><%= @letters[9] %></div>
</div>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input id="word" type="text" name="word">
  <input id="button" type="submit" value="Play">
</form>
